.app-container {
  width: 100vw;
}

.about-container {
  width: Hug (7.97px) px;
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container {
  width: 100vw;
  left: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.our-products-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-frame {
  width: Hug (7.97px) px;
  height: Hug (472.31px) px;
  top: 908.97px;
  left: 120px;
  padding: 2px 0px 0px 0px;
  gap: 2px;
  opacity: 0px;
}

.design-frame {
  width: 117.1px;
  height: 138.33px;
  left: 120px;
  gap: 0px;
  opacity: 0px;
  margin-top: 60px;
}

.description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 139px;
  width: 65vw;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.span-txt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}

.about-heading {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  height: 44px;
  color: #f27121;
}

.products-heading {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: #f27121;
}

.description-div-container {
  display: flex;
  flex-direction: row;
  width: Hug (7.97px) px;
  width: 100vw;
  left: 120px;
  display: flex;
  justify-content: center;
}

.our-products-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.products-container {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  text-align: center;
}

.product-card-1 {
  box-sizing: border-box;
  width: 584px;
  height: 530px;
  border: 1px solid #cecece;
  padding: 12px;
  margin-right: 12px;
}

.product-card-2 {
  box-sizing: border-box;
  width: 584px;
  height: 530px;
  left: 736px;
  border: 1px solid #cecece;
  padding: 12px;
}

.card-img {
  width: 560px;
  height: 434px;
  left: 12px;
  background: #f0f0f0;
}

.product-name-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 380px;
  height: 28px;
}

.product-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card-name {
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.quick-view-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 211px;
  height: 52px;
  left: 361px;
  background: #fe0000;
  border: 0px;
}

.btn-txt {
  width: 89px;
  height: 36px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.large-frame {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
